<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Reset Password</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"></link>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Gawati | Reset Password
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" id="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Re-enter Password">
          </div>
        </div>
        <div id="reset" class="ui fluid large teal submit button">Change Password</div>
      </div>

      <div id="errors" class="ui error message"></div>

    </form>

    <div class="ui message">
      <a href="/login">&#8592; Back to Login</a>
    </div>
  </div>
</div>

<script>
  console.log('data', '<%= locals.token %>');
  sessionStorage.token = '<%= locals.token %>';

  function fetchedData(response) {
    $("#errors").empty();
    $("#errors").removeClass('error');
    if(response.errorType === 'validation') {
      var msgList = response.errors.map(err => '<li>'+err+'</li>');
    } else if(response.success) {
      var msgList = response.msg;
      setTimeout(function(){ window.location.replace("/login"); }, 3000);
    }
    $("#errors").append(msgList);
    console.log('response', msgList);
  }

  document.getElementById('reset').addEventListener("click", () => {
    console.log('clicked');
    $.ajax({
      type: "POST",
      url: "/reset-password",
      data: {
        password: document.getElementById('password').value,
        confirmPassword: document.getElementById('confirmPassword').value,
        token: sessionStorage.token
      },
      success: fetchedData,
      // dataType: dataType
    });
  });

  </script>
</script>

</body>

</html>
